
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Paneli</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .sidebar-link {
            display: flex !important;
            align-items: center !important;
            column-gap: 12px !important;
            padding: 8px 12px;
        }

            .sidebar-link p {
                margin: 0 !important;
                font-size: 15px;
                font-weight: 500;
            }

            .sidebar-link i {
                width: 22px; /* ikon genişliği sabitlenince hizalar PERFECT */
                text-align: center;
            }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Admin/Hakkımda" class="brand-link">
                <img src="~/AdminLTE-3.0.4/dist/img/AdminLTELogo.png"
                     alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Admin Paneli</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a href="/AnaSayfa/Index" class="d-block"><span style="margin-right:10px"> <i class="right fas fa-angle-double-right"></i> </span> Siteye Git</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="~/Admin/Hakkımda" class="nav-link sidebar-link">
                                <i class="fas fa-user-circle fa-lg text-info"></i>
                                <p>Hakkımda</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Deneyim" class="nav-link sidebar-link">
                                <i class="fas fa-briefcase fa-lg text-info"></i>
                                <p>Deneyimler</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Egitim" class="nav-link sidebar-link">
                                <i class="fas fa-graduation-cap fa-lg text-info"></i>
                                <p>Eğitimlerim</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Diller" class="nav-link sidebar-link">
                                <i class="fas fa-language fa-lg text-info"></i>
                                <p>Diller</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Kurslar" class="nav-link sidebar-link">
                                <i class="fas fa-chalkboard-teacher fa-lg text-info"></i>
                                <p>Kurslar</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Yetenek" class="nav-link sidebar-link">
                                <i class="fas fa-lightbulb fa-lg text-info"></i>
                                <p>Yetenek</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Beceriler" class="nav-link sidebar-link">
                                <i class="fas fa-tools fa-lg text-info"></i>
                                <p>Beceriler</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Hobilerim" class="nav-link sidebar-link">
                                <i class="fas fa-gamepad fa-lg text-info"></i>
                                <p>Hobilerim</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/Sertifikalar" class="nav-link sidebar-link">
                                <i class="fas fa-certificate fa-lg text-info"></i>
                                <p>Sertifikalar</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/SosyalMedya" class="nav-link sidebar-link">
                                <i class="fas fa-share-alt fa-lg text-info"></i>
                                <p>Sosyal Medya</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Admin/İletisim" class="nav-link sidebar-link">
                                <i class="fas fa-envelope fa-lg text-info"></i>
                                <p>İletişim</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Login/ÇıkısYap" class="nav-link sidebar-link">
                                <i class="fas fa-sign-out-alt fa-lg text-info"></i>
                                <p>Çıkış Yap</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div style="padding:1rem 1rem">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>
